{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMMW+D2mHyNBtrysAgIG/QY"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"PszBS0m_ZzLh"},"outputs":[],"source":["import shutil\n","shutil.make_archive(\"mooddo\", 'zip', \".\")  # Zip current folder\n"]}]}